<app-navbar-ad></app-navbar-ad>
<div class="d-flex align-items-center justify-content-center pt-10">
    <form class="p-2 mt-5 shadow rounded-2" style="width: 70%;">
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" name="form" [formGroup]="form" class="row g-3 needs-validation">        <!-- Campagne name input -->
        <div class="col-md-12 text-center">
            <img class="mb-3" src="../../../assets/d annonceur.png" width="150" height="150" alt="">
        </div>
        <!-- Adset name input -->
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Nom de l'Adset: </div>
            </div>
            <input type="text" class="form-control" id="Name" placeholder="Enter le nom de l'Adset" name="name" formControlName="name" >
        </div>

        <!-- Adset tags input -->
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Tags de l'adset: </div>
            </div>
            <input type="text" class="form-control" id="Tags" placeholder="Enter les tags" name="keywords" formControlName="keywords" >
        </div>

        <!-- Submit button -->
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary btn-block mb-4">+ Ajouter l'adset</button>
        </div>
    </form>
</form>
</div>