<nav class="navbar navbar-light bg-light justify-content-between px-5">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="redirectToMyPlaylists()">Mes playlist ⏯</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="profil()">Mon profil 👨🏼‍🔧</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="changePassword()">Update password🔧</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()">log out?</button>
</nav>