<nav class="navbar navbar-light bg-light justify-content-between px-5">
    <a href="/campagnes"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Mes campagnes 🎯</button></a>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="goProfile()">Mon profil 👨🏼‍🔧</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="goUpdateAdvertiserPassword()">Update password🔧</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()">log out</button>
</nav>