<div class="d-flex align-items-center justify-content-center pt-10">
    <form class="p-2 mt-5 shadow rounded-2">
        <div class="col-md-12 text-center">
            <img class="mb-3" src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-design_460848-8717.jpg?w=900&t=st=1672243522~exp=1672244122~hmac=e8a93e5a9de915c9ac8c7db9f9d940204fc529019dc21d5de134a2faafa8c395" width="150" height="150" alt="">
        </div>

        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="username" id="username" class="form-control mt-2" placeholder="Enter a valid username address"/>
            <label class="form-label mt-2" for="username">Username</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="email" class="form-control mt-2" placeholder="Enter a valid email address"/>
          <label class="form-label mt-2" for="email">Email address</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="password" class="form-control mt-2" placeholder="Enter password" />
          <label class="form-label mt-2" for="password">Password</label>
        </div>
      
        <!-- 2 column grid layout for inline styling -->
      
        <!-- Submit button -->
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
        </div>
        <!-- Register buttons -->
        <div class="text-center">
          <p>You have an account ? <a href="#!">Log in</a></p>
        </div>
    </form>
</div>