<div class="d-flex align-items-center justify-content-center pt-10">
    <form class="p-2 mt-5 shadow rounded-2">
        <div class="col-md-12 text-center">
            <img class="mb-3" src="assets/d.png" width="200" height="200" alt="">
        </div>

        <!-- User button -->
        <div class="col-md-12 text-center">
            <button type="button"  (click)="user()" class="btn btn-primary btn-block mb-4">User</button>
        </div>
        <!-- Submit button -->
        <div class="col-md-12 text-center">
            <button type="button" (click)="annonceur()" class="btn btn-primary btn-block mb-4">Advertiser</button>
        </div>

    </form>
    </div>