<div class="d-flex align-items-center justify-content-center pt-10">
    <form class="p-2 mt-5 shadow rounded-2">
        <div class="col-md-12 text-center">
            <img class="mb-3" src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-design_460848-8717.jpg?w=900&t=st=1672243522~exp=1672244122~hmac=e8a93e5a9de915c9ac8c7db9f9d940204fc529019dc21d5de134a2faafa8c395" width="200" height="200" alt="">
        </div>

        <!-- User button -->
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary btn-block mb-4">User</button>
        </div>
        <!-- Submit button -->
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary btn-block mb-4">Annonceur</button>
        </div>

    </form>
    </div>