<app-search-navbar></app-search-navbar>

<div class="container mt-3">
    <div class="row">
        <!-- Main video -->
        <div class="col-sm-8">
            <iframe width="800" height="400" [src]='convertLink(video)' title={{video.title}} frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h4> {{video.title}}</h4>
            <form>
               
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="addToPlaylist(video)">+ add to playlist </button>
            </form>
            <div>
                <app-ad-show></app-ad-show>
            </div>
        </div>
        <!-- other videos -->
        <div class="col-sm-4">
            <div *ngFor="let video of videos" class="col-sm-8 my-3">
                <div (click)='goWatchVideo(video)'>

                    <iframe  width="400" height="200" [src]='convertLink(video)' title={{video.title}} frameborder="0"
                        style="overflow: hidden; pointer-events: none;"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>