<app-navbar-ad></app-navbar-ad>
<div class="container align-self-center">
    <form class="p-2 mt-5 shadow rounded-2" style="width: 70%;">
        <form #f="ngForm" (ngSubmit)="f.form.valid && updateAdset()" name="form" [formGroup]="form" class="row g-3 needs-validation">
        <!-- Adset name input -->
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Nom de l'Adset: </div>
            </div>
            <input type="text" class="form-control" id="Name" placeholder="Enter le nom de l'Adset" name="name" formControlName="name" [(ngModel)]="adSet.name">
        </div>

        <!-- Adset tags input -->
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Tags de l'adset: </div>
            </div>
            <input type="text" class="form-control" id="Tags" placeholder="Enter les tags" name="keywords" formControlName="keywords" [(ngModel)]="keywords" >
        </div>
        
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
            <div class="input-group-text">Enter your password to confirm</div>
            </div>
            <input type="password" class="form-control" id="password"  name="password" formControlName="password" placeholder="Enter your password"
            [ngClass]="{ 'is-invalid': (isFormSubmitted && form.controls.password.errors) || (!form.controls.password.pristine && form.controls.password.invalid) }" />
            <div class="invalid-feedback"
                    *ngIf="(isFormSubmitted && form.controls.password.errors) || (!form.controls.password.pristine && form.controls.password.invalid)">
                    <div *ngIf="form.controls.password.errors?.['required']">Password is required</div>
            </div>
        
        </div>

        <!-- Submit button -->
        <div class="col-md-12 text-center">
            <button type="button" id="submit" name="submit"  (click)="cancel()" class="btn btn-secondary">Cancel</button>
                <button type="button" id="submit" name="submit" (click)="updateAdset()" class="btn btn-primary">Update</button>
        </div>
    </form>
</form>
</div>