<app-navbar></app-navbar>

<div class="d-flex justify-content-center pt-10">
    <form class="p-2 mt-5 shadow rounded-2">

        <div class="col-md-12 text-center">
            <img class="mb-3" src="https://img.freepik.com/free-vector/branding-identity-corporate-vector-logo-design_460848-8717.jpg?w=900&t=st=1672243522~exp=1672244122~hmac=e8a93e5a9de915c9ac8c7db9f9d940204fc529019dc21d5de134a2faafa8c395" width="150" height="150" alt="">
        </div>

        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        
        <div class="d-flex justify-content-center pt-3">
            <button type="button" class="btn btn-outline-primary d-flex justify-content-center pt-10">search</button>
        </div>

        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Youtube</label>
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Dailymotion</label>

    </form>
</div>